{% extends 'website/basefile.html' %}
<title>{% block title %} Dashboard {% endblock %}</title>
<body>
{% block body %}
{% csrf_token %}
{% load static %}
{% load crispy_forms_tags %}

<style>
    .front-selector{
    width: 73%;

    }

    #go{
    position: absolute;
    margin-left: 74%;
    margin-top: 28px;
    }

    #filters{
    position: absolute;
    margin-left: 80.5%;
    margin-top: 28px;
    }

    .select-form{
    margin-left: 1%;
    padding: initial;

    }
    form{
    margin-top:10px;
    }
    #title{
    margin-left:20px;
    }
    #base-selector-form{
    margin-left: 84px;
    }
    #graph_div{
    margin-top:20px;
    }
    .graph_inner_container{
        padding-left:2%;
    }

    .inner-graph{
        margin-top:-1%;

    }
</style>
    <h2 id="title">
        Calculador de Metas-GMC
    </h2>

<hr>

<a class="btn btn-success main_btn_calculator" data-toggle="modal"
                               data-target="#action_form">
    <i class="ion-plus"></i> Agregar Objectivo
</a>

<div id="rest_list_container" class="list_container">
{% include 'includes/responsive_table.html' %}
</div>
<!-- main form class to use in order to generate the base modals based on each item of the list as well -->
<!-- Modal normal sign in start -->
<div id="action_form" class="modal fade create-form" role="dialog">
    <div class="modal-dialog modal-lg card">
        <i class="ion-close modal-close" data-dismiss="modal" id="closer" onclick="close_modal('action_form');"></i>
        <hr>
        <div class="modal-header">
            <h3 style="text-align:center; margin-left: 21px;">
                Calculo de Objetivos
            </h3>
        </div>
        <div class="card-block">
                {% csrf_token %}
                <div class="modal-body">
                    {{objective_form|crispy}}
                    <hr>
                    <div class="metrics_list">
                        <h4>
                            Metas
                        </h4>
                        <a class="btn btn-primary" onclick="AddMetricDiv();"> <i class="ion-plus"></i> Agregar</a>
                        <hr>
                        <div id="metrics_holder">
                            <div id="1" class="form-control row metric_container">
                                <div class="col-sm-8">
                                    <input type="text" placeholder="Descripcion" class="form-control meta_description" required>
                                </div>
                                <div class="col">
                                    <input type="text" placeholder="Meta" class="form-control meta_value" required>
                                </div>
                                <div class="col">
                                    <input type="text" placeholder="% de Consecucion" class="form-control meta_consecution" required>
                                </div>
                                <i id="deleter_1" class="ion-trash-a metric_deleter" onclick="removeMetricDiv(1)"></i>
                            </div>

                            <div id="2" class="form-control row metric_container">
                                <div class="col-sm-8">
                                    <input type="text" placeholder="Descripcion" class="form-control meta_description" required>
                                </div>
                                <div class="col">
                                    <input type="text" placeholder="Meta" class="form-control meta_value" required>
                                </div>
                                <div class="col">
                                    <input type="text" placeholder="% de Consecucion" class="form-control meta_consecution" required>
                                </div>
                                <i id="deleter_2" class="ion-trash-a metric_deleter" onclick="removeMetricDiv(2)"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close_modal" type="button" class="btn btn-secondary" onclick="close_modal('action_form');">Cancelar</button>
                    <button class="btn btn-success" onclick="handleObjective();">Calcular Objetivo</button>
                </div>
        </div>

    </div>
</div>
 <!--Modal normal sign in end-->

{% endblock %}
</body>


