<!DOCTYPE html>
<html lang="en">
<title>
   {% block title %} Login Page {% endblock %} | Signals App
</title>
{% include 'includes/_meta.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
<body>
    <section class="custom-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                        <form class="form_container z-depth-0" method="post" action="{% url 'website:login' %}">
                            {% csrf_token %}
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <img id="img_holder" class="logo_pic" src="{% static 'images/logo_val.webp'%}"
                                                     alt="img">
                                            </div>
                                        <h3 style="padding-top:30px;"> <strong> LOGIN </strong></h3>
                                        <hr>
                                        </div>
                                    </div>
                                        {{ form|crispy }}
                                    <div class="row m-t-25 text-right">
                                        <div class="col-12">
                                            <em> <a data-target="#forgot_password" data-toggle="modal">Forgot Password? </a></em>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-round btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
            <!-- Modal normal sign in start -->
            <div id="forgot_password" class="modal fade create-form" role="dialog">
            <div class="modal-dialog card">
                <i class="ion-close" data-dismiss="modal" style="margin-left:90%; margin-top:10px; margin-right:1px;"></i>
                <hr>
                    <div class="card-block">
                            <div class="modal-body">
                            <h4 class="lead" style="text-align:center;"> Si no recuerda su contraseña, le sugerimos contactar
                            administracion para poder restaurar sus credenciales
                            </h4>
                                <br>
                            </div>
                            <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                            </div>
                    </div>
            </div>
            </div>
             <!--Modal normal sign in end-->

            <div>
                {% include 'includes/footer.html' %}
            </div>
        </div>
        <!-- end of container-fluid -->
    </section>
</body>


</html>
