<!-- Modal normal sign in start -->
<div id="action_form" class="modal fade create-form" role="dialog">
    <form action="{% url 'report_maker:generate_graphs' %}">
        <div class="modal-dialog card">
        <i class="ion-close" data-dismiss="modal" style="margin-left:90%; margin-top:10px; margin-right:1px;"></i>
        <hr>
        <div class="modal-header">
            <h3 style="text-align:center;">
                Stock Selection for operations
            </h3>
        </div>
        <div class="card-block">
                {% csrf_token %}
                <div class="modal-body">
                    {{form|crispy}}
                </div>
                <div class="modal-footer">
                    <button id="close_modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-success" type="submit">Start Process</button>
                </div>
        </div>
    </div>
    </form>

</div>
 <!--Modal normal sign in end-->