<div class="table_list_container">
    <table class="table">
        <thead>
        <tr>
            <th>
                ID
            </th>

            <th>
                Metrica
            </th>

            <th>
                Resultado
            </th>

            <th>
                Acciones
            </th>
        </tr>
        </thead>

        <tbody>
            {% for row in objective_list %}
            <tr>
                <td>
                    {{objective.id}}
                </td>
                 <td>
                    {{objective.metric}}
                </td>
                 <td>
                    {{objective.renumerationresult}}
                </td>
                 <td>
                        <div class="btn-group dropdown-split-primary">
                        <button type="button" class="btn btn-primary"><i class="ion-gear-b"></i> Acciones </button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle primary</span>
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(113px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item waves-effect waves-light" href="#"> <i class="ion-eye"></i> Mostrar detalles </a>
                            <a class="dropdown-item waves-effect waves-light" href="#"><i class="ion-edit"></i> Editar </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item waves-effect waves-light" href="#"><i class="ion-trash-a"></i> Borrar Registro </a>
                        </div>
                        </div>
                </td>
            </tr>

            {% empty %}

                <tr>
                    <td>
                        No hay registros registrados, trate de nuevo
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>


</div>