
<div class="table_list_container">
    <table class="table" id="data_lister">
        <thead>
        <tr id="row_header">
            <th>
                ID
            </th>

            <th>
                Metrica
            </th>

            <th>
                Valor de Aceptacion
            </th>

            <th>
                % de Consecucion
            </th>

            <th>
                Acciones
            </th>
        </tr>
        </thead>

        <tbody>
            {% for objective in objective_list %}
            <tr id="row_data_{{objective.objective.id}}">
                <td>
                    {{objective.id}}
                </td>
                 <td>
                    {{objective.metric}}
                </td>
                 <td>
                     {% if objective.interpolationresult %}
                        {{objective.interpolationresult.interpolation}}
                     {% else %}
                        Valor no asignado
                    {% endif %}
                </td>
                <td>
                    {% if objective.interpolationresult  %}
                        {{objective.interpolationresult.consecution_percentage}}
                    {% else %}
                        Valor no asignado
                    {% endif %}
                </td>

                 <td>
                        <div class="btn-group dropdown-split-primary">
                        <button type="button" class="btn btn-primary"><i class="ion-gear-b"></i> Acciones </button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle primary</span>
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(113px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item waves-effect waves-light" href="{% url 'website:show_details' objective.id %}">
                                <i class="ion-eye"></i> Mostrar Detalles </a>
                            <a class="dropdown-item waves-effect waves-light" onclick="modify_objective('{{objective.id}}');"><i class="ion-edit"></i> Editar </a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item waves-effect waves-light" data-toggle="modal"
                               data-target="#delete-objective-{{objective.id}}"><i class="ion-trash-a"></i> Borrar Registro </a>
                        </div>
                        </div>
                </td>

            <!-- Delete record modal -->

                <div id="delete-objective-{{objective.id}}" class="modal fade create-form" role="dialog">
                    <div class="modal-dialog card">
                        <i class="ion-close" data-dismiss="modal" onclick="close_modal('delete-objective-{{objective.id}}')"
                           style="margin-left:90%; margin-top:10px; margin-right:1px;"></i>
                        <hr>
                            <div class="card-block">
                                    <div class="modal-body">
                                    <h4 class="lead"> Esta seguro que quiere borrar el record? </h4>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_modal('delete-objective-{{objective.id}}')">Cancelar</button>
                                    <button class="btn btn-danger" onclick="delete_record('{{objective.id}}')">Borrar Record</button>
                                    </div>
                            </div>
                    </div>
                </div>


            <!-- End delete -->
            </tr>

            {% empty %}

                <tr>
                    <td>
                        No hay registros registrados, trate de nuevo
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {%  for objective in objective_list %}

     <!-- Show Details Modal -->
            <div id="show-objective-{{objective.id}}" class="modal fade create-form" role="dialog">
                <div class="modal-dialog  modal-lg  card">
                    <i class="ion-close" data-dismiss="modal" onclick="close_modal('show-objective-{{objective.id}}')"
                       style="margin-left:90%; margin-top:10px; margin-right:1px;"></i>
                    <hr>
                        <div class="card-block">
                                <div class="modal-body" style="overflow-x:auto;">
                                   <h4>
                                       Detalle de Metas del objetivo
                                   </h4>
                                    <hr>
                                    <div>
                                        <table class="table table-sm" id="goal_table">
                                            <thead>
                                            <tr>
                                                <th>
                                                    Descripcion
                                                </th>
                                                <th>
                                                    Meta
                                                </th>
                                                <th>
                                                    % de Consecucion
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for goal in objective.goals %}
                                            <tr>
                                               <td>
                                                   {{goal.description }}
                                               </td>
                                                <td>
                                                    {{goal.goal }}
                                                </td>
                                                <td>
                                                    {{goal.consecution_percentage }}
                                                </td>

                                            </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal" onclick="close_modal('show-objective-{{objective.id}}')">Cerrar</button>
                                </div>
                        </div>
                </div>
            </div>

        <!-- end show details modal -->

    {% endfor %}

</div>